.menu_anchor{
    text-decoration: none; 
}

.container{
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
}

.result{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
}

.result_image{
    width: 80vw; 
    max-width: 250px;
}

.result_image img{
    width: 100%;
}

@media screen and (min-width: 1024px){

.home_return{
        font-size: var(--small)
} 
    }


