:root{

    /* Colores */

    --header-color: #333434; 
    --black-color: #181818; 
    --white-color: #FFFFFF; 
    --action-color: #6E2594; 
    --background-color: #ECEBEC; 
    --money-color: #449E00; 
    --error-color: #FF2424; 

}